

input[type=text], input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=text], input[type=user] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;


}

input[type=text], input[type=fname] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text], input[type=lname] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 300px;
    text-align: center;
    margin-left:20px;
}
input {
  display: inline-block;
  float: left;
}




button {
    background-color: green;
    color: black;
    padding: 14px 20px;
    text-allign: center;
    text-decoration:underline;
     display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 10%;
    float: center;
    margin-left:600px;
}

button:hover {
    opacity: 0.5;
}



